<header class="fixed top-0 left-0 w-full h-16 bg-linear-to-r from-sky-700 to-slate-800 flex items-center px-20 justify-between text-slate-50">
  <a href="/" class="font-bold text-lg">@alidacodes</a>
  
  <% if authenticated? %>
    <!-- Desktop Navigation -->
    <nav class="hidden sm:flex items-center text-xs sm:text-base ml-3">
      <span class="font-medium text-cyan-200">Welcome, <%= session[:user_first_name] %> <%= session[:user_last_name] %> </span>
      <%= link_to "Directories", directories_path, class: "m-4 hover:text-cyan-400" %>
      <%= link_to "Logout", logout_path, method: :delete, class: "mr-4 hover:text-cyan-400" %>
    </nav>

    <!-- Mobile Menu Container -->
    <div class="sm:hidden" data-controller="mobile-menu">
      <button data-mobile-menu-target="button" data-action="mobile-menu#toggle">☰</button>
      <nav data-mobile-menu-target="menu" class="hidden absolute top-16 left-0 w-full bg-slate-800 flex-col">
        <span class="font-medium text-cyan-200 p-4 block">Welcome, <%= session[:user_first_name] %> <%= session[:user_last_name] %> </span>
        <%= link_to "Directories", directories_path, class: "block p-4 hover:text-cyan-400" %>
        <%= link_to "Logout", logout_path, method: :delete, class: "block p-4 hover:text-cyan-400" %>
      </nav>
    </div>
  <% else %>
    <%= link_to "Login", login_path, class: "m-4 hover:text-cyan-400" %>
  <% end %>
</header>
