<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Workos Rails Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Workos Rails Demo">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-sky-100 px-20 font-mono">
    <%= render "layouts/partials/nav" %>
    <main class="mt-28 grid grid-cols-1 justify-items-center content-stretch text-slate-700 gap-8">
      <div class="col-span-full">
        <%= render "layouts/partials/flashes" %>
      </div>
      <div class="col-span-full self-stretch">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
